@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,800&subset=cyrillic');

html {
  /* font-style: 16px; */
}

html::-webkit-scrollbar { width: 0;}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul, h1, h2, p {
  padding: 0;
  margin: 0;
}

p {
  /* font-size: 20px; */
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 900px) {
  
  .b-section {
    /* width: 100%; */
    /* overflow: hidden; */
    padding: 0 20px;
    position: relative;
  }
  
  .b-section__h1 {
    font-size: 36px;
    line-height: 38px;
    color: white;
    margin-bottom: 40px;
  }

  .b-section__h1_mr {
    margin-bottom: 360px !important;
  }

  .b-section__h2 {
    font-size: 34px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .b-section__h3 {
    font-size: 28px;
    line-height: 32px;
  }

  .b-section__h4 {
    font-size: 24px;
    line-height: 38px;
    color: white;
    margin-bottom: 30px;
  }

  .b-section__h4_clr-black {
    color: black;
    line-height: 30px;
    padding: 40px 0 30px;
    margin-bottom: 0;
    position: relative;
  }

  .b-section__h4_clr-black::after {
    content: "";
    display: block;
    width: 60%;
    height: 10px;
    background: #1c67d8;
    position: absolute;
    top: 0;
    left: 0;
  }

  .b-flex-box-1__title {
    /* margin-bottom: 150px; */
  }

  .b-figure__composition-2 {
    display: none;
  }

  .b-section__h5 {
    font-size: 20px;
    line-height: 24px;
    color: white;
    margin-bottom: 30px;
  }

  .b-section__h5_black {
    color: black;
    margin-bottom: 0;
  }

  .b-section__h5_black + p {
    color: #808080;
  }

  .b-section__note {
    font-size: 18px;
    line-height: 1.33;
    color: white;
    margin-bottom: 30px;
  }

  .b-section__button {
    display: block;
    width: 288px;
    height: 58px;
    line-height: 58px;
    margin: 0 auto;
    /* padding: 20px 0; */
    border-radius: 10px;
    background: white;
    box-shadow: none; 
    border: none;
    outline: none;
    color: #2374ed;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 90px;
    text-align: center;
    text-decoration: none;
  }

  .b-section__button_inverse {
    display: block;
    background: #2374ed;
    color: white;
    margin-bottom: 20px;
  }
  
  .b-section_ht1 {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 680px;
  }

  .b-section_ht2 {
    overflow: hidden;
    padding-top: 45px;
  }

  .b-section_ht2__text {
    font-size: 24px;
    margin-bottom: 40px;
    /* line-height: 30px; */
  }

  .b-section_ht2__carousel {
    margin-bottom: 30px;
    /* background: #eee; */
  }

  .b-section_ht2__carousel__title {
    font-style: 16px;
    font-weight: bold;
    color: #fc855f;
    margin-bottom: 20px;
  }

  .b-section_ht2__carousel__list {
    list-style-type: none;
    padding: 10px;
    /* margin-right: 10px; */
    height: 220px; 
    width: 100%;
    /* background: rebeccapurple; */
    display: flex;
    /* flex-wrap: nowrap; */
    /* overflow: hidden; */
    overflow-x: auto;
    /* flex-direction: row; */
    /* justify-content: space-between */
  }

  .b-section_ht2__carousel__list::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1px;
    padding-right: 1px;
    margin-left: -30px;
    color: white;
  }
  
  .b-section_ht2__carousel__list__item {
    display: inline-block;
    padding: 20px;
    box-shadow: 0 0 15px 0 rgba(0,0,0, .2);
    border-radius: 10px;
    background: #fff;
    /* margin-bottom: 20px; */
    /* margin-right: 20px; */
    margin-right: 20px;
    height: 170px;
    width: 230px;
    flex-shrink: 0
  }

  .b-section_ht2__carousel__list__item:last-of-type {
    margin-right: 50px;
  }

  .b-section_ht2__carousel__list__item__hero {
    font-style: 16px;
    font-weight: bold;
  }

  .b-section_ht2__carousel__list__item__position {
    font-size: 12px;
    color: #888;
    margin-bottom: 20px;
  }

  .b-section_ht2__carousel__list__item__commet {
    font-size: 18px;
  }
  
  .b-section_ht3 {
    overflow: hidden;
    padding-top: 40px;
    height: 650px;
  }

  .b-section_ht4 {
    height: 420px;
    overflow: hidden;
    padding-top: 30px;
  }

  .b-section_ht5 {
    padding-bottom: 120px;
  }

  .b-criteria {}

  .b-criteria__title {
    font-size: 20px;
    line-height: 24px;
    color: white;
    margin-bottom: 30px;
  }

  .b-criteria__list {
    list-style-type: none;
    display: flex;
    /* flex-direction: column; */
    /* overflow: hidden; */
    overflow-x: auto;
    width: 105%;
  }

  .b-criteria__list::after {
    content: "!";
    display: block;
    padding-right: 10%;
    color: #fc855f;
  }
  
  .b-criteria__list__item {
    /* padding: 20px; */
    /* box-shadow: 0 0 15px 0 rgba(0,0,0, .2); */
    /* border-radius: 6px; */
    /* background: #fff; */
    margin-bottom: 30px;
    margin-right: 30px;
    width: 80%;
    flex-shrink: 0;
  }

  .b-criteria__list__item__title {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 15px;
  }

  .b-criteria__list__item__description {
    font-size: 18px;
    color: #fff;
    /* margin-bottom: 20px; */
  }

  
  .b-section_ht6 {
    padding-top: 70px;
    padding-bottom: 20px;
  }
  
  

  .b-brand {
    font-size: 40px;
    font-weight: bold;
    color: white;
  }

  .b-brand_clr-orange {
    color: #fbaf23;
  }

  .b-app {
    margin: 0 auto;
    padding: 20px 0 0;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .b-app__brand {
    font-size: 40px;
    font-weight: bold;
    color: #fbaf23;
    text-align: left;
  }

  .b-app__title {
    font-size: 36px;
    line-height: 38px;
    color: white;
    margin-bottom: 20px;
    text-align: left;
  }

  /* .b-app img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  } */

  .b-app__button-download {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 280px;
    margin: 0 auto;

  }

  .b-app__button-download__android {
    display: block;
    height: 40px;
    width: 137px;
    background: url("./img/androidbadge.png");
  }

  .b-app__button-download__ios {
    display: block;
    height: 40px;
    width: 121px;
    background: url("./img/iosbadge.png");
  }

  /* Figure classes*/

  /* .b-figure__bagel {
    position: absolute;
    top: 160px;
    right: -75px;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    box-shadow: 0 0 0 80px #fcc050;
    z-index: 0;
  } */

  .b-figure__composition__bagel {
    position: absolute;
    top: -54px;
    left: 50%;
    /* right: 0px; */
    display: block;
    width: 175px;
    height: 175px;
    border-radius: 175px;
    box-shadow: 0 0 0 80px #fcc050;
    z-index: -1;
  }

  .b-figure__composition {
    position: relative;
    width: 475px;
    height: 300px;
    top: -410px;
    right: -30px;
    /* margin-left: 10px;
    margin-bottom: 20px; */
    z-index: 10;
  }

  .b-figure__composition__fon {
    display: block;
    width: 475px;
    height: 300px;
    background: #fc855f;
    position: absolute;
    z-index: 0;
  }

  .b-figure__composition__sofa {
    /* background: red; */
    position: absolute;
    top: -15px;
    right: -85px;
    z-index: 1;
  }

  /* .b-figure__composition { */
    /* position: relative; */
    /* width: calc(100% + 10px); */
    /* height: 200px; */
    /* background: #fc855f; */
    /* margin-left: 10px; */
    /* margin-bottom: 20px; */
    /* z-index: 0; */
  /* } */

  /* .b-figure__composition__fon {
    display: block;
    width: 475px;
    height: 300px;
    background: #fc855f;
    position: absolute;
    z-index: 0;
  }

  .b-figure__composition__sofa {
    position: absolute;
    top: -15px;
    right: -85px;
    z-index: 1;
  } */

  /* ---------------- */
  .b-figure__composition__romb {
    position: relative;
    top: 140px;
    left: 165px;
    z-index: 1;
  }

  .b-figure__composition__romb::after,
  .b-figure__composition__romb::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -120px; 
    border: 200px solid transparent; /* Прозрачные границы */
    z-index: 10;
  }

  .b-figure__composition__romb::after {
    top: 100%; 
    border-top: 120px solid #ef734c; /* Добавляем треугольник */
  }
  
  .b-figure__composition__romb::before {
    bottom: 100%; 
    border-bottom: 120px solid #ef734c; /* Добавляем треугольник */
  }

  /*---------------------*/

  /* .b-figure__composition__rectangles {
    display: block;
    width: 65%;
    height: 65px;
    z-index: 0;
  }

  .b-figure__composition__rectangles::before {
    content: "";
    display: block;
    width: 55%;
    height: 65px;
    border-radius: 35px 0 0 0;
    background: #bbd8f6;
    position: absolute;
    right: 0;
    top: -5px;
  } */

  /* .b-figure__composition__rectangles::after {
    content: "";
    display: block;
    width: 65%;
    height: 65px;
    border-radius: 0 0 0 35px;
    background: #569de9;
    position: absolute;
    right: 0;
    top: 60px;
  }

  .b-figure__composition__circles {
    display: block;
    width: 65%;
    height: 65px;
    position: relative;
    z-index: 1;
    float: right;
  } */

  /* .b-figure__composition__circles::before,
  .b-figure__composition__circles::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: -40px;
    z-index: 1;
  }

  .b-figure__composition__circles::before {
    background: #b3cd8e;
    right: 52%;
  }

  .b-figure__composition__circles::after {
    background: #af9ace;
    right: 32%;
  } */

  .b-figure__composition__square {
    display: block;
    width: 84px;
    height: 84px;
    background: #ffcb69;
    position: absolute;
    top: 135px;
    left: 20px;
    z-index: 1;
  }

  .b-figure__composition__plant {
    position: absolute;
    top: 97px;
    left: 45px;
    z-index: 1;
  }

  /* .b-figure__composition__square {
    display: block;
    width: 56px;
    height: 56px;
    background: #ffcb69;
    position: absolute;
    top: 95px;
    left: 12px;
    z-index: 1;
  }

  .b-figure__composition__plant {
    position: absolute;
    top: 58px;
    left: 25px;
  } */

  /* .b-figure__composition__romb {
    position: relative;
    top: 30px;
    left: 155px;
    z-index: -1;
  }

  .b-figure__composition__romb::after,
  .b-figure__composition__romb::before {
    content: ''; 
    position: absolute; 
    left: -120px; 
    border: 130px solid transparent; 
    z-index: 10;
  }

  .b-figure__composition__romb::after {
    top: 100%; 
    border-top: 80px solid #ef734c; 
  }
  
  .b-figure__composition__romb::before {
    bottom: 100%; 
    border-bottom: 80px solid #ef734c; 
  } */

  /* .b-figure__composition__treangle {
    position: relative;
    top: 30px;
    left: 45%;
    z-index: -1;
  } */

  /* .b-figure__composition__treangle::after {
    content: '';
    position: absolute;
    left: 10%;
    right: -30px;
    border: 20px solid transparent;
    z-index: 10;
    top: 10px;
    border-top: 40px solid #d9981f;
  }   */

  .b-figure__romb-2 {
    position: relative;
    top: 15px;
    /* z-index: 10; */
  }

  .b-figure__romb-2::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    right: -210px; 
    border: 130px solid transparent; /* Прозрачные границы */
    z-index: 10;
    bottom: 100%; 
    border-bottom: 140px solid #d9d9d9; /* Добавляем треугольник */
  }

  .b-figure__romb-3 {
    position: relative;
    top: 80px;
    /* z-index: 10; */
  }

  .b-figure__romb-3::after,
  .b-figure__romb-3::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -120px; 
    border: 130px solid transparent; /* Прозрачные границы */
    z-index: 10;
  }

  .b-figure__romb-3::after {
    top: 100%; 
    border-top: 80px solid #ef734c; /* Добавляем треугольник */
  }
  
  .b-figure__romb-3::before {
    bottom: 100%; 
    border-bottom: 80px solid #ef734c; /* Добавляем треугольник */
  }

  .b-figure__lamp {
    /* transform: translate(50%); */
    width: 100px;
    height: 80px;
    position: relative;
    overflow: hidden;
    top: -40px;
    margin: 0 auto;
    /* border: 1px dashed black; */
  }

  .b-figure__lamp__circle-1 {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px; 
    background: #bb7b04;
    position: absolute;
    left: 42px;
  }

  .b-figure__lamp__triangle {
    /* background: green;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff; */
  }

   .b-figure__lamp__triangle::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 0; 
    bottom: 20px; /* Положение треугольника */
    border: 50px solid transparent; /* Прозрачные границы */
    border-bottom: 40px solid #bb7b04; /* Добавляем треугольник */
    z-index: 10;
   }

  .b-figure__lamp__circle-2 {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px; 
    /* background: red; */
    position: absolute;
    bottom: 10px;
    left: 42px;
    box-shadow:0 0 0 10px #ffd88f;
  }

  



  .b-figure-b4 {}

  .b-figure-b4::after {
    content: "";
    display: block;
    width: 180%;
    height: 120%;
    border-radius: 100%;
    position: absolute;
    top: 85%;
    left: -35%;
    background: #fc855f;
    z-index: 1;
  }

  .b-figure-b4::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 66%;
    left: -50px;
    background: #2374ed;
    z-index: 1;
  }

  .b-figure-rectangle-br-tr {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 240px;
    border-radius: 0 200px 0 0;
    background: #1c67d8;
  }

  .b-figure-b6 {
    /* position: relative; */
    /* z-index: 0; */
  }

  .b-figure-b6::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: #1c67d8;
    border-radius: 0 75% 0 0;
    z-index: 1;
  }

  .b-figure-b6__block {
    display: block;
    width: 129px;
    height: 129px;
    padding: 20px 0 30px;
    /* margin-bottom: 30px; */
    margin: 0 auto;
    text-align: center;
    color: #1c67d8;
    font-size: 50px;
    font-weight: bold;
    /* box-shadow: 0 0 0 10px rgba(0,0,0,.1); */
    position: relative;
  }

  .b-figure-b6__block__plus::after,
  .b-figure-b6__block__plus::before {
    content: "";
    display: block;
    width: 140px;
    height: 40px;
    position: absolute;
    left: -6px;
    top: 44px;
    background: #1c67d8;
  }


  .b-figure-b6__block__plus::after {
    transform: rotate(45deg);
  }

  .b-figure-b6__block__plus::before {
    transform: rotate(-45deg);
  }

  .b-figure-b6__block__square {
    display: block;
    width: 52px;
    height: 52px;
    position: absolute;
    left: -31px;
    top: 38px;
    background: #3586ff;
  }
  .b-figure-b6__block__circle {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -14px;
    bottom: 38px;
    background: #3586ff;
    border-radius: 20px;
  }

  /* Carousel classes */

  .b-carousel_type-2 {
    height: 250px;
    padding: 50px 0;
    background: #eee;
  }
   
  .b-oico-easy {
    list-style-type: none;
    display: flex;
    padding-bottom: 30px;
    width: 105%;
    height: 550px;
    overflow: hidden;
    overflow-x: auto;
  }

  .b-oico-easy::after {
    content: "!";
    display: block;
    padding-right: 10%;
    color: #2374ed;
  }

  .b-oico-easy__item {
    position: relative;
    margin-bottom: 30px;
    width: 80%;
    /* width: 260px; */
    flex-shrink: 0;
    margin-right: 30px;
  }

  /* .b-oico-easy__item__param {
    position: absolute;
    background: red;

  } */

  .b-oico-easy__item__param__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ffcb69;
  }

  .b-oico-easy__item__param__description {
    color: white;
    font-size: 20px;
  }

  .b-oico-easy__param__item__img {
    position: absolute;
    top: 45%;
    left: 0;
    /* transform: translateX(-50%); */
    display: block;
    overflow: hidden;
    /* background: #fafafa; */
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.3), 0 0 2px 5px inset black; */
    width: 238px;
    height: 446px;
    border-radius: 20px;
    background: url("./img/counter.png") 0 -110px no-repeat;
    background-size: cover;
  }

  .zi-10 {
    position: relative;
    z-index: 10;
  }

  .fs-20 {
    font-size: 20px;
    line-height: 24px;
  }

  .b-oico-not-agregator {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly;
    padding: 100px 0; */
    /* margin-bottom: 50px; */
  }

  /* .b-oico-not-agregator__item {
    width: 40%;
  } */

  /* .b-oico-not-agregator__item:first-of-type {
    text-align: right;
  } */

  .b-oico-not-agregator__item__subject {
    font-size: 34px;
    font-weight: 800;
  }

  .b-oico-not-agregator__item__term-1 {
    font-size: 20px;
    /* width: 80%; */
    margin-bottom: 30px;
  }

  .b-oico-not-agregator__item__term-2 {
    font-size: 20px;
    /* padding-top: 15px; */
  }

  .b-oico-not-agregator__item__note {
    font-size: 20px;
    color: #808080;
  }

  .b-help {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  /* .b-help__item {
    width: 40%;
  } */

  .b-help__text {}

  .b-help__text__title {
    font-size: 24px;
    /* line-height: 38px; */
    color: white;
    margin-bottom: 30px;
  }

  .b-help__text__note {
    font-size: 18px;
    /* line-height: 1.33; */
    color: white;
    margin-bottom: 50px;
  }

  .b-help__text__button {
    display: block;
    width: 280px;
    padding: 15px 0;
    border-radius: 10px;
    background: white;
    box-shadow: none; 
    border: none;
    outline: none;
    color: #2374ed;
    font-weight: bold;
    font-size: 14px;
    margin: 0 auto 90px;
    /* margin-bottom: 90px; */
    text-align: center;
    text-decoration: none;
    
  }

}

































































@media all and (min-width: 901px) /* and (max-width: 1199px) */ {

  /* Desctop styles*/ 
  
  .b-section {
    /* width: 100%; */
    /* overflow: hidden; */
    padding: 0 20px;
    position: relative;
  }
  
  .b-section__h1 {
    font-size: 60px;
    line-height: 64px;
    color: white;
    margin-bottom: 70px;
    font-weight: 800;
  }

  .b-section__h1_mr {
    /* margin-top: -25px; */
    margin-bottom: 100px;
  }

  .b-flex-box-1 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 100px;
    padding-top: 40px;
  }

  .b-flex-box-1__title {
    margin-right: 15%;
  }

  .b-section__h2 {
    font-size: 34px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .b-section__h3 {
    font-size: 28px;
    line-height: 32px;
  }

  .b-section__h4 {
    font-size: 32px;
    line-height: 38px;
    color: white;
    margin-bottom: 30px;
  }

  .b-section__h4_clr-black {
    color: black;
    line-height: 30px;
    padding: 40px 0 30px;
    margin-bottom: 0;
    position: relative;
  }

  /* .b-section__h4_clr-black::after {
    content: "";
    display: block;
    width: 30%;
    height: 10px;
    background: #1c67d8;
    position: absolute;
    top: 0;
    left: 0;
  } */

  .b-section__h5_black {
    color: black;
    margin-bottom: 0;
  }

  .b-section__h5_black + p {
    color: #808080;
  }

  .b-section__note {
    font-size: 18px;
    line-height: 1.33;
    color: white;
    margin-bottom: 30px;
  }

  .b-section__button {
    display: block;
    width: 288px;
    padding: 20px 0;
    border-radius: 10px;
    background: white;
    box-shadow: none; 
    border: none;
    outline: none;
    color: #2374ed;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 90px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .b-section__button_inverse {
    display: block;
    background: #2374ed;
    color: white;
    margin-bottom: 20px;
  }
  
  .b-section_ht1 {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .b-section_ht2 {
    overflow: hidden;
    padding-top: 45px;
    background: #eee;
  }

  .b-section_ht2__text {
    font-size: 32px;
    margin-bottom: 40px;
    /* line-height: 30px; */
  }

  .b-section_ht2__carousel {
    margin-bottom: 30px;
    padding: 0 50px;
    
    /* background: #eee; */
    height: 500px;
  }

  .b-section_ht2__carousel::-webkit-scrollbar {width: 0;}

  .b-section_ht2__carousel__title {
    font-style: 16px;
    font-weight: bold;
    color: #fc855f;
    margin-bottom: 20px;
  }

  .b-section_ht2__carousel__list {
    list-style-type: none;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    height: 420px;
    margin-top: -298px;
    position: relative;
    z-index: 10;
  }

  .b-section_ht2__carousel__list::-webkit-scrollbar {width: 0;}

  .b-section_ht2__carousel__list__item {
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0, .2);
    border-radius: 6px;
    background: #fff;
    margin-bottom: 40px;
    /* width: 320px;
    height: 230px; */
  }

  .b-section_ht2__carousel__list__item__hero {
    font-size: 18px;
    font-weight: bold;
  }

  .b-section_ht2__carousel__list__item__position {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
  }

  .b-section_ht2__carousel__list__item__commet {
    font-size: 20px;
    line-height: 32px;
  }
  
  .b-section_ht3 {
    overflow: hidden;
    padding: 50px;
  }

  .b-section_ht4 {
    height: 420px;
    overflow: hidden;
    padding: 120px 0 100px;
  }

  .b-section_ht5 {
    padding-bottom: 20px;
  }

  .b-criteria {
    position: relative;
    z-index: 2;
    padding-top: 50px;
  }

  .b-criteria__title {
    font-size: 20px;
    line-height: 24px;
    color: white;
    margin-bottom: 30px;
  }

  .b-criteria__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: first baseline */
    justify-content: flex-start
  }
  
  .b-criteria__list__item {
    /* padding: 20px; */
    /* box-shadow: 0 0 15px 0 rgba(0,0,0, .2); */
    /* border-radius: 6px; */
    /* background: #fff; */
    /* width: 350px; */
    width: 350px;
    margin-bottom: 50px;
    margin-right: 30px;

  }

  .b-criteria__list__item__title {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 15px;
  }

  .b-criteria__list__item__description {
    font-size: 18px;
    color: #fff;
    /* margin-bottom: 20px; */
  }

  
  .b-section_ht6 {
    padding-top: 70px;
    padding-bottom: 20px;
  }
  
  .b-brand {
    font-size: 40px;
    font-weight: bold;
    color: white;
  }

  .b-brand_clr-orange {
    color: #fbaf23;
  }

  .b-glass {
    /* width: 1100px; */
    padding: 0 5%;
  }

  .b-app {
    margin: 0 auto;
    padding: 20px 0 0;
    text-align: left;
    position: relative;
    z-index: 2;

  }

  .b-app__brand {
    font-size: 40px;
    font-weight: bold;
    color: #fbaf23;
  }

  .b-app__title {
    font-size: 36px;
    line-height: 38px;
    color: white;
    margin-bottom: 70px;
  }

  .b-app img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .b-app__button-download {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 280px;
    margin-bottom: 120px;
  }

  .b-app__button-download__android {
    display: block;
    height: 40px;
    width: 137px;
    background: url("./img/androidbadge.png");
  }

  .b-app__button-download__ios {
    display: block;
    height: 40px;
    width: 121px;
    background: url("./img/iosbadge.png");
  }

  /* Figure classes*/

  .b-figure-rectangle-br-tr {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 240px;
    border-radius: 0 200px 0 0;
    background: #1c67d8;
  }

  

  .b-figure__composition {
    position: relative;
    width: 475px;
    height: 300px;
    top: 20px;
    left: 0;
    /* margin-left: 10px;
    margin-bottom: 20px; */
    z-index: 10;
  }

  .b-figure__composition__fon {
    display: block;
    width: 475px;
    height: 300px;
    background: #fc855f;
    position: absolute;
    z-index: 0;
  }

  .b-figure__composition__sofa {
    /* background: red; */
    position: absolute;
    top: -15px;
    right: -85px;
    z-index: 1;
  }

  .b-figure__composition__rectangles {
    display: none;
    /* width: 65%;
    height: 65px;
    z-index: 0; */
  }

  .b-figure__composition__rectangles::before {
    display: none;
    /* content: "";
    width: 55%;
    height: 65px;
    border-radius: 35px 0 0 0;
    background: #bbd8f6;
    position: absolute;
    right: 0;
    top: -5px; */
  }

  .b-figure__composition__rectangles::after {
    display: none;
    /* content: "";
    width: 65%;
    height: 65px;
    border-radius: 0 0 0 35px;
    background: #569de9;
    position: absolute;
    right: 0;
    top: 60px; */
  }

  .b-figure__composition__circles {
    display: none;
    /* width: 65%;
    height: 65px;
    position: relative;
    z-index: 1;
    float: right; */
  }

  /* .b-figure__composition__circles::before,
  .b-figure__composition__circles::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: -40px;
    z-index: 1;
  }

  .b-figure__composition__circles::before {
    background: #b3cd8e;
    right: 52%;
  }

  .b-figure__composition__circles::after {
    background: #af9ace;
    right: 32%;
  } */

  .b-figure__composition__square {
    display: block;
    width: 84px;
    height: 84px;
    background: #ffcb69;
    position: absolute;
    top: 135px;
    left: 20px;
    z-index: 1;
  }

  .b-figure__composition__plant {
    position: absolute;
    top: 97px;
    left: 45px;
    z-index: 1;
  }

  .b-figure__composition__romb {
    position: relative;
    top: 140px;
    left: 165px;
    z-index: 1;
  }

  .b-figure__composition__romb::after,
  .b-figure__composition__romb::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -120px; 
    border: 200px solid transparent; /* Прозрачные границы */
    z-index: 10;
  }

  .b-figure__composition__romb::after {
    top: 100%; 
    border-top: 120px solid #ef734c; /* Добавляем треугольник */
  }
  
  .b-figure__composition__romb::before {
    bottom: 100%; 
    border-bottom: 120px solid #ef734c; /* Добавляем треугольник */
  }

  .b-figure__composition__treangle {
    position: relative;
    top: 30px;
    left: 45%;
    z-index: -1;
  }

  .b-figure__composition__treangle::after {
    content: '';
    position: absolute;
    /* left: 10%; */
    right: -30px;
    border: 20px solid transparent;
    z-index: 10;
    top: 10px;
    border-top: 40px solid #d9981f;
  }  

  .b-figure__composition__bagel {
    position: absolute;
    top: -54px;
    /* left: 0; */
    right: -75px;
    display: block;
    width: 175px;
    height: 175px;
    border-radius: 175px;
    box-shadow: 0 0 0 80px #fcc050;
    z-index: -1;
  }

  .b-figure__composition-2 {
    width: 100%;
    height: 300px;
    /* border: 1px dashed black; */
    position: relative;
    top: 10px;
  }

  

  .b-figure__composition-2__line {
    display: block;
    width: 142px;
    height: 40px;
    background: #e8e8e8;
    position: absolute;
    top: -3px;
    right: -50px;
  }

  .b-figure__composition-2__line::after,
  .b-figure__composition-2__line::before {
    content: "";
    position: absolute;
    display: block;
    width: 142px;
    height: 40px;
    background: #e8e8e8;
  }

  .b-figure__composition-2__line::after {
    top: 80px;
  }

  .b-figure__composition-2__line::before {
    top: 160px;
  }

  .b-figure__composition-2__romb {
    position: relative;
    top: 30px;
    left: 155px;
    /* z-index: -1; */
  }

  .b-figure__composition-2__romb::after,
  .b-figure__composition-2__romb::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -120px; 
    border: 285px solid transparent; /* Прозрачные границы */
    /* z-index: 10;     */
  }

  .b-figure__composition-2__romb::after {
    top: 170px;
    left: -190px;
    border-top: 180px solid #f6f6f6;
  }
  
  .b-figure__composition-2__romb::before {
    top: -290px;
    left: -190px;
    border-bottom: 180px solid #f6f6f6 ;
  }
  

  .b-figure__composition-2__circle {
    display: block;
    width: 86px;
    height: 86px;
    border-radius: 86px;
    background: #e8e8e8;
    position: absolute;
    top: 240px;
    left: 50px;
  }

  .b-figure__romb-2 {
    position: relative;
    top: 85px;
    right: 90px;
    /* z-index: 10; */
  }

  .b-figure__romb-2::before {
    content: '';
    position: absolute;
    right: -210px;
    border: 180px solid transparent;
    z-index: 10;
    bottom: 100%;
    border-bottom: 170px solid #d9d9d9;
  }

  .b-figure__romb-3 {
    position: relative;
    top: -15px;
    left: 50px;
    z-index: 1;
  }

  .b-figure__romb-3::after,
  .b-figure__romb-3::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -120px; 
    border: 80px solid transparent; /* Прозрачные границы */
    z-index: 10;
  }

  .b-figure__romb-3::after {
    top: 100%; 
    border-top: 50px solid #ef734c; /* Добавляем треугольник */
  }
  
  .b-figure__romb-3::before {
    bottom: 100%; 
    border-bottom: 50px solid #ef734c; /* Добавляем треугольник */
  }

  .b-figure__lamp {
    /* transform: translate(50%); */
    width: 100px;
    height: 80px;
    position: relative;
    /* overflow: hidden; */
    top: -40px;
    /* margin: 0 auto; */
    left: 63%;
    /* border: 1px dashed black; */
  }

  .b-figure__lamp__circle-1 {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 25px; 
    background: #bb7b04;
    position: absolute;
    top: 5px;
    left: 42px;
  }

  .b-figure__lamp__triangle {
    /* background: green;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff; */
  }

   .b-figure__lamp__triangle::after {
    content: '';
    position: absolute;
    left: -5px;
    bottom: 8px;
    border: 60px solid transparent;
    border-bottom: 40px solid #bb7b04;
    z-index: 10;
   }

  .b-figure__lamp__circle-2 {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 16px;
    /* background: red; */
    position: absolute;
    bottom: -7px;
    left: 42px;
    box-shadow: 0 0 0 10px #ffd88f;
  }

  .b-figure__lamp__square {
    display: block;
    background: #dd9c23;
    width: 25px;
    height: 19px;
    position: absolute;
    top: -20px;
    left: 42px;
  }

  .b-figure-b4 {}

  .b-figure-b4::after {
    content: "";
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 400px;
    position: absolute;
    bottom: -350px;
    left: 11%;
    background: #fc855f;
    z-index: 1;
  }

  .b-figure-b4::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    top: 75%;
    left: 4%;
    background: #2374ed;
    z-index: 1;
  }

  .b-figure-b6 {
    width: 60%;
    height: 80px;
    /* background: #1c67d8; */
    background: red;
    position: absolute;
    top: 0;
    left: 0;
  }

  .b-figure-b6::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: #1c67d8;
    border-radius: 0 75% 0 0;
    z-index: 1;
  }

  .b-figure-b6__block {
    display: block;
    width: 200px;
    height: 200px;
    /* padding: 50px; */
    /* margin-bottom: 30px; */
    margin: 40px auto;
    /* border: 1px dashed black; */
    /* text-align: center; */
    /* color: #1c67d8; */
    /* font-size: 50px;
    font-weight: bold; */
    /* box-shadow: 0 0 0 10px rgba(0,0,0,.1); */
    position: relative;
  }

  .b-figure-b6__block__plus::after,
  .b-figure-b6__block__plus::before {
    content: "";
    display: block;
    width: 220px;
    height: 60px;
    position: absolute;
    left: -10px;
    top: 70px;
    background: #1c67d8;
  }


  .b-figure-b6__block__plus::after {
    transform: rotate(45deg);
  }

  .b-figure-b6__block__plus::before {
    transform: rotate(-45deg);
  }

  .b-figure-b6__block__square {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: -41px;
    top: 58px;
    background: #3586ff;
  }
  .b-figure-b6__block__circle {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -34px;
    bottom: -32px;
    background: #3586ff;
    border-radius: 20px;
  }

  /* Carousel classes */

  .b-carousel_type-2 {
    height: 250px;
    padding: 50px 0;
    background: #eee;
  }

  .b-oico-easy_wrapper {
    position: relative;
    margin: 0 auto;
    width: calc(100%-100px);
    /* width: 100%; */
    height: 520px;
    /* margin-bottom: 50px; */
    /* overflow: hidden; */
    overflow-y: auto;
    padding: 0 50px;
    z-index: 1;
    
    /* background: red; */
    /* border: 1px dashed black; */
  }
  
  .b-oico-easy__figure-1 {
    position: absolute;
    top: 220px;
    right: 0;
    display: block;
    width: 360px;
    height: 180px;
    overflow: hidden;
    /* background: rebeccapurple */
    /* border: 1px dashed black; */
  }

  .b-oico-easy__figure-1-1 {
    position: absolute;
    top: -80px;
    left: 90px;
    /* border: 60px solid red; */
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 0 0 0 90px rgba(255,255,255, .15);
  }
  
  .b-oico-easy__figure-1-2 {
    position: absolute;
    bottom: 0;
    right: 100px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: #1c67d8; 
  }

  .b-oico-easy_wrapper::-webkit-scrollbar {width: 0}
  
  .b-oico-easy {
    list-style-type: none;
    
    
    /* padding-right: 25%; */
    /* padding-bottom: 30px; */
    /* padding: 10px 100px; */
    /* margin: 0 auto;
    width: 90%;
    background: red; */

  }

  .b-problem {
    display: flex;
    justify-content: space-between ;
    /* border: 1px dashed black; */
    width: 100%;
    height: 500px;
    padding-top: 50px;
    position: relative;
  }

  .b-problem::before {
    content: "";
    display: block;
    width: 20%;
    height: 10px;
    background: #1c67d8;
    position: absolute;
    top: 0;
    left: 0;
  }

  .b-problem__item {}

  .b-problem__item:nth-of-type(1) {
    padding-top: 80px; 
    width: 40%;
  }

  .b-problem__item:nth-of-type(2) {
    /* padding-top: 80px;  */
    width: 50%;
    /* text-align: center; */
    margin: 0 auto;
  }

  .b-oico-easy__item {
    /* margin-bottom: 30px; */
    width: 100%;
    height: 500px;
    position: relative;
  }

  .b-oico-easy__item__param {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* background: red; */
    width: 55%;
    /* background: green; */

  }

  .b-oico-easy__item__param__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #ffcb69;
  }

  .b-oico-easy__item__param__description {
    width: 75%;
    font-size: 16px;
    line-height: 22px;
    color: white;
  }

  .b-oico-easy__param__item__img {
    position: absolute;
    top: 50%;
    right: 75px;
    transform: translateY(-50%);
    display: block;
    overflow: hidden;
    /* background: #fafafa; */
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.3), 0 0 2px 5px inset black; */
    width: 238px;
    height: 446px;
    border-radius: 20px;
    background: url("./img/counter.png") 0 -110px no-repeat;
    background-size: cover;

  }

  .zi-10 {
    position: relative;
    z-index: 10;
  }

  .fs-20 {
    font-size: 20px;
    line-height: 24px;
  }

  .b-oico-not-agregator {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
    /* margin-bottom: 50px; */
  }

  .b-oico-not-agregator__item {
    width: 40%;
  }

  /* .b-oico-not-agregator__item:first-of-type {
    text-align: right;
  } */

  .b-oico-not-agregator__item__subject {
    font-size: 100px;
    font-weight: 800;
  }

  .b-oico-not-agregator__item__term-1 {
    font-size: 20px;
    width: 80%;
  }

  .b-oico-not-agregator__item__term-2 {
    font-size: 30px;
    padding-top: 15px;
  }

  .b-oico-not-agregator__item__note {
    font-size: 30px;
  }

  .b-help {
    display: flex;
    justify-content: space-between;
  }

  .b-help__item {
    width: 45%;
  }

  .b-help__text {}

  .b-help__text__title {
    font-size: 32px;
    /* line-height: 38px; */
    color: white;
    margin-bottom: 30px;
  }

  .b-help__text__note {
    font-size: 32px;
    /* line-height: 1.33; */
    color: white;
    margin-bottom: 50px;
  }

  .b-help__text__button {
    display: block;
    width: 280px;
    padding: 15px 0;
    border-radius: 10px;
    background: white;
    box-shadow: none; 
    border: none;
    outline: none;
    color: #2374ed;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 90px;
    text-align: center;
    text-decoration: none;
  }

}

/* Common styles start */

.b-section-ht7 {
  padding-top: 30px;
  padding-bottom: 50px;
} 

.b-section-ht7__info {
  list-style-type: none;
  margin-bottom: 30px;
}

.b-section-ht7__info__item {}

.b-section-ht7__info__item a {
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.29;
  text-decoration: none;
}



/* Common styles end*/

/* Color classes */
.orange {
  background: #fbb024;
}

.blue {
  background: #2374ed;
}

.gray {
  background: #eeeeee;
}

.dark-orange {
  background: #fc855f;
}

.dark-gray {
  background: #313131
}

.mb-100 {
  margin-bottom: 100px;
}

@media all and (min-width: 1200px) {
  /* .orange {
    background: #b3cd8e;
  } */

  .b-glass {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px dashed black; */
  }

  .b-oico-easy__figure-1 {
    position: absolute;
    top: 220px;
    /* right: 100px; */
    left: 65%;
    display: block;
    width: 360px;
    height: 180px;
    overflow: hidden;
    /* background: rebeccapurple */
    /* border: 1px dashed black; */
  }

  .b-oico-easy__figure-1-1 {
    position: absolute;
    top: -80px;
    left: 90px;
    /* border: 60px solid red; */
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 0 0 0 90px rgba(255,255,255, .15);
  }
  
  .b-oico-easy__figure-1-2 {
    position: absolute;
    bottom: 0;
    right: 100px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: #1c67d8; 
  }

  .b-section_ht2__carousel {
    padding: 0 0 0 80px;
  }
  
  .b-section_ht2__carousel__list__item {
    width: 420px;
    height: 230px; 
  }

  .b-figure__composition-2__line {
    right: 0;
  }

  .b-figure-b4::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    top: 75%;
    left: 17%;
    background: #2374ed;
    z-index: 1;
  }

  .b-figure-b4::after {
    content: "";
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 400px;
    position: absolute;
    bottom: -350px;
    left: 20%;
    background: #fc855f;
    z-index: 1;
  }
}

@media all and (min-width: 300px) and (max-width: 600px) {
  .b-figure__composition {
    position: relative;
    width: 475px;
    height: 300px;
    top: -410px;
    right: -50px;
    /* margin-left: 10px;
    margin-bottom: 20px; */
    z-index: 10;
  }
}


#two-buttons {
  /* display: none; */
  /* width: 250px; */
  padding: 0;
  margin: 0;
  margin-top: -10px;
}